* {
  color: black
}

.trip-content h3 {
  text-align: center;
  width: 300px;
  margin-top: 5px
}

h1, h2, h4, h5 {
  margin: 0 auto;
  width: 400px;
}

h1 {
  width: 450px;
  text-align: center;
  padding: 25px
}

.trip-content {
  padding: 15px;
  margin: 25px;
  background-color: #FFF6EB;
  border-radius: 8px;
  width: 400px 
}

.trip-content h4 {
  padding: 10px 0px;
  margin-top: 0px; 
  margin-bottom: 0px;
  width: 400px;
}

.trip-content h5 {
  padding-top: 5px;
  margin-top: 0px; 
  margin-bottom: 0px;
}

.trip-content p {
  margin-top: 5px; 
  margin-bottom: 5px
}

.trip-options {
  margin: 0 auto;
  width: 300px;
  padding-top: 2px;
  border-bottom: 1px solid; 
}

.trip-content ul {
  list-style-type: none;
  padding: 0;
  margin: 2px
}

.trip-content p {
  margin: 0 auto;
  width: 400px;
  /* padding-bottom: 5px */
}

.trip-length {
  padding-bottom: 5px
}

/* .trip-selections {
  margin: 0 auto;
  width: 250px
} */

.trip-suggestion {
  margin: 0 auto;
  width: 400px;
}

.trip-recommendations {
  margin: 0 auto;
  width: 400px;
}

.trip-recommendation-container {
  margin: 0 auto;
  width: 300px
}

@media only screen and (min-width: 640px) {
  .all-trips-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center
  }
}