* {
  color: black
}

/* section {
  text-align: center
} */

/* .trip-content {
  margin-top: 25px;
  border: 1px green dashed;
  width: 450px;
  margin: 0 auto;
} */

.trip-content h3 {
  margin: 0 auto;
  width: 450px;
  padding-top: 18px
}

h2, h4, h5 {
  margin: 0 auto;
  width: 450px;
}

/* h5 {
  margin: 0 auto;
  width: 450px;
} */

.trip-content {
  padding-bottom: 25px 
}

.trip-content h4 {
  padding-top: 15px;
  margin-top: 0px; 
  margin-bottom: 0px;
}

.trip-content h5 {
  padding-top: 5px;
  margin-top: 0px; 
  margin-bottom: 0px;
}

.trip-content p {
  padding: 0px;
  margin-top: 5px; 
  margin-bottom: 5px
}

.trip-options {
  margin: 0 auto;
  width: 450px;
  /* border: 1px green dashed; */
  padding-top: 2px;
}

.trip-content ul {
  list-style-type: none;
  padding: 0;
  margin: 2px
}

.trip-content p {
  margin: 0 auto;
  width: 450px;
  padding: 0px
}

.trip-suggestion {
  margin: 0 auto;
  width: 450px;
}

.trip-recommendations {
  margin: 0 auto;
  width: 450px;
}

.trip-recommendation-container {
  padding-top: 10px
}